@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dela+Gothic+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f8;
    padding: 1rem 2rem;
    font-family: 'Inter', sans-serif;
  }

  body p{

    margin: 0;
    padding: 0;
  }

  nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  nav a {
    text-decoration: none;
    color: #342A2B;
    font-weight: bold;
  }


  

  h2 {
    font-family: inter, sans serif;
    font-weight: regular;
    font-size: 0.5 rem;
    color: #3a3a3a;
    margin: 0 0 
    1rem 0;
  }



  .btn-red{
      display: inline-block;
      margin-top: 0.5rem;
      padding: 0.875rem 2rem;
      background: #c94a4a;
      color: white;
      font-family: 'Inter', sans-serif;
      font-size: 1.1rem;
      text-decoration: none;
      border-radius: 8px;
    }
    
    .btn{
      display: inline-block;
      margin-top: 0.5rem;
      padding: 0.875rem 2rem;
      background: #9B5B4A;
      color: #ffffff;
      font-family: 'Inter', sans-serif;
      font-size: 1.1rem;
      text-decoration: none;
      border-radius: 8px;
    }

    .btn-red:hover {
      background: #b33a3a;
    }

    .content p,
    .content-OmOs p,
    .podcast-content p,
    .content-text p{
      font-family: Georgia, serif;
      font-size: 1rem;
      line-height: 1.7;
      color: #000000;
      margin: 0 0 1rem 0;
      font-family: 'Inter', sans-serif;
    }



    /* Tablet */
    @media (min-width: 768px) {
      h2 {
        font-size: 2rem;
      }

    
      .content p,
    .content-OmOs p,
    .podcast-content p,
    .content-text p {
      font-size: 1.2rem;
    }
  }

