header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f8;
    padding: 1rem 2rem;
  }

  nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  nav a {
    text-decoration: none;
    color: #342A2B;
    font-weight: bold;
  }