---
//@ts-nocheck
import Card from '../components/Card.astro'
import Cardcontainer from "../components/Cardcontainer.astro";
import Layout from '../layout/Layout.astro';
import Header from '../components/Menu.astro';
import '../styles/global.css';
import Footer from '../components/Footer.astro';

---


<Layout title="kalender">
   
    <h1>Mellem liv og død</h1>
<h2>Begivenheder, der former os</h2>
<main>
    <section>
   <Cardcontainer />
   </section>
   </main>

     <Footer />

   </Layout>

	
<style>h1,h2 { 
display: flex; 
justify-content: center;
font-family: "Dela Gothic One", sans-serif;} 
h2 {
    font-size: 1.2rem;
    margin-top: 0rem;

}
h1 {
    font-size: 3rem;
   
}
   
section {
        display: grid;
grid-template-columns: 1fr 1fr 1fr;

} 


@media (max-width: 700px) {
    section {
        display: grid;
        grid-template-columns: 1fr;
}}


</style>