---
//@ts-nocheck
import Card from "./Card.astro";
const options = {
    headers:{
        apikey:"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxqeGJsY2NzZnJyeWNkYWZodWZlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYyOTA2MzMsImV4cCI6MjA5MTg2NjYzM30.q9nwmyy6LrhZ-0aCNiMZKyj-zKbsZJfyToTAiyqhiyY"
    }
}
const url = "https://ljxblccsfrrycdafhufe.supabase.co/rest/v1/kalender"
const response = await fetch(url,options)
const data = await response.json()
---
<!-- <h2>Mellem Liv og Død</h2>
<p>{data[0].event_name}</p> -->

{data.map((event) => 
    <Card eventData={event} />
)}

