---

---
<section>
    <p class="førstetekst">Logo og Presse</p>
    <p class="andentekst">Download  vores logoer, infografikker og plakater til dit event her
</p>
<div>
   <a href="https://livogdoed.dk/wp-content/uploads/En-del-af-UGE-44-logo-i-sort.png">Logo</a>
    <a href="https://livogdoed.dk/wp-content/uploads/UGE-44-logo-i-hvid.png">Presse</a></div>
    </section>

<style>
    section {
        display: block;
        text-align: center;
        gap: 1rem;
        padding: 2rem;
        font-family: 'Inter', sans-serif;
    background-color: #A6845B;
    }

    a {
     display: block;
    width: 6rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin-bottom: 0.5rem;
    background-color: #402A32;
    color: #fff;
    text-align: center;
  justify-self: center;
    text-decoration: none;
font-family: 'inter', sans-serif;
    font-weight: bold;}
    a:hover {
      background-color: #5a3739;
    }
    div {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
 p {margin: 1rem;
    font-size: 1.7rem;
    font-weight: bold;
  }
  .andentekst {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: normal;
     
  }


</style>