---
---


<section class="OmOs">

  <div class="OmOs-image">
    <img src="/images/talebobble.webp" alt="Talebobble" />
  </div>

    <div class="content-OmOs">
      <h2>Om os</h2>
      <p>Landsforeningen Liv&Død arbejder for at starte den gode samtale og nedbryde tabuet om døden.</p>
      <p>Uge 44 er hvert år en uge, hvor vi vi nationalt har fokus på døden. Gennem events og samtaler inviterer vi til at bryde tabuet og gøre det mere trygt at tale om det, der ellers kan være svært.</p>
      <p>Rundt om i landet er der over årene kommet flere og flere initiativer og tiltag, der vil bringe de døde og døden ind i vores liv på forskellige måder. Mange af disse initiativer finder sted i uge 44. </p>
    </div>

  </section>



  <style>
    /* Mobile first */
    .OmOs {
      display: flex;
      flex-direction: column;
      padding: 2rem 1.5rem;
      background: #e8e4df;
      align-items: center;
    }

    .content-OmOs {
  text-align: center;
  order: 1;
    }


    .content.OmOs p {
      font-family: Georgia, serif;
      font-size: 1rem;
      line-height: 1.7;
      color: #3a3a3a;
      margin: 0 0 1rem 0;
    }

    .OmOs-image {
    width: 320px;
    height: 280px;
    object-fit: cover;
    order: 2;

  }

  .OmOs-image img{
    width: 100%;
  }
    
    /* Tablet */
    @media (min-width: 768px) {
      .OmOs {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 4rem 6rem;
      }

      .content-OmOs {
        flex: 1;
        max-width: 480px;
        order: 0;

      }

      .OmOs-image {
      width: 320px;
      height: 320px;
      flex: -1;
      order: 0;
    }

    .OmOs-image img{
    margin-top: 2rem;
    }
}


    /* desktop */
    @media (min-width: 1024px) {
      .OmOs {
        padding: 3rem 4rem;
        gap: 4rem;
      }

      h2 {
        font-size: 2.5rem;
    
      }

      .content-OmOs p {
        text-align: left;
      }

      .OmOs-image {
      width: 380px;
      height: 380px;
    }

    .OmOs-image img {
      margin-top: 2rem;

    }
}
  </style>


  
  
  
  