---
---

<section class="podcast">

    <div class="podcast-content">
      <h2>Ugens Podcast gæst:</h2>
        <h2>Sanger, Thor Farlov</h2>
      <p>Sammen med Thor Farlov tager vi en ærlig snak om døden, livet og alt det indimellem.</p>
      <a href="/Inspiration" class="btn-red">Lyt her</a>
    </div>
    
    <div class="podcast-image">
      <img src="/images/Thorfarlov.webp" alt="TF" />
    </div>
  </section>


<style>
   .podcast{
    background-color: #DFE6EE;
    margin-top: 2rem;
   }

   .podcast-content {
    text-align: center;
    padding: 2rem 1.5rem;
   }

   .podcast-image {
    text-align: center;
   }

   .podcast-image img{
    max-width: 280px;
    max-height: 280px;
    margin-bottom: 3rem;
   }



</style>
