---
---

<section class="podcast">

    <div class="podcast-content">
      <h2>Ugens Podcast gæst:</h2>
        <h2>Sanger, Thor Farlov</h2>
      <p>Sammen med Thor Farlov tager vi en ærlig snak om døden, livet og alt det indimellem.</p>
    </div>
    
    <div class="podcast-image">
      <img src="/images/Thorfarlov.webp" alt="TF" />
    </div>

    <div class="podcast-content">
    <a href="/Inspiration" class="btn-red">Lyt her</a>
</div>
  </section>


<style>
   .podcast{
    background-color: #DFE6EE;
    margin-top: 2rem;
   }

   .podcast-content {
    text-align: center;
    padding: 2rem 1.5rem;
   }

   .podcast-image {
    text-align: center;
   }

   .podcast-image img{
    max-width: 280px;
    max-height: 280px;
   }

   .h2{
    font-family: inter, sans serif;
    font-weight: regular;
    font-size: 1.5 rem;
    color: #3a3a3a;
    margin: 0 0 
    1rem 0;
  }


   /* Tablet */
    @media (min-width: 768px) {
        .podcast-image img{
            max-width: 380px;
            max-height: 380px;
        }
    }

</style>
